<!DOCTYPE html>
<html>

<head>
    <title>Ubiqum Bake Off</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" user-scalable="no" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="/styles/calum-lewis-391366-unsplash.jpg">
    <link rel="apple-touch-startup-image" href="/styles/calum-lewis-391366-unsplash.jpg">
    <link rel="shortcut icon" type="image/x-icon" href="/styles/cookie-icon1.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/bakeoff.css">
</head>

<body>

    <div id="showHide">
        <!----------------------------------- Navigation bar---->
        <div>
            <nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
                <a v-on:click="pages('home')" class="navbar-link"><i class="fas fa-cookie-bite"></i></a>
                <a v-on:click="pages('aboutMenu')" class="navbar-link"><i class="fas fa-info-circle"></i></a>
                <a v-on:click="pages('bakersJudges')" class="navbar-link"><i class="fas fa-user-friends"></i></a>
                <a v-on:click="pages('scores')" class="navbar-link"><i class="fas fa-trophy"></i></a>
                <a v-on:click="pages('contact')" class="navbar-link"><i class="far fa-address-book"></i></a>
                <a v-on:click="pages('signin')" class="navbar-link"><i class="fas fa-sign-in-alt"></i></a>
            </nav>
        </div>
        <!-------------------------------------- Home---->
        <div v-if="target === 'home'" id="home" class="homePage">
            <div class="container">
                <div class="homeTitle">
                    <h1>Ubiqum Bake Off <i class="fas fa-cookie-bite"></i></h1>
                    <h2>When coding meets baking</h2>
                </div>
            </div>
        </div>
        <!-------------------------------------- About menu---->
        <div v-if="target === 'aboutMenu'" id="aboutMenu" class="aboutMenuPage">
            <div class="container">
                <h2>Ubiqum Bake Off</h2>
                <div class="rulesLand">
                    <div v-on:click="pages('about')">
                        <a>
                            <div class="aboutMenu">
                                <h6>Want to know more about this competition?</h6>
                                <i class="fas fa-cookie"></i>
                            </div>
                        </a>
                    </div>
                    <div v-on:click="pages('challenges')">
                        <a>
                            <div class="aboutMenu">
                                <h6>Check out our challenges!</h6>
                                <i class="fas fa-utensils"></i>
                            </div>
                        </a>
                    </div>
                    <div v-on:click="pages('rules')">
                        <a>
                            <div class="aboutMenuLast">
                                <h6>The cookbook of rules</h6>
                                <i class="fas fa-book"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------- About---->
        <div v-if="target === 'about'" class="aboutPage" id="about">
            <div class="container">
                <h2>About</h2>
                <div class="textShadow">
                    <h4>Ubiqum Bake Off is a baking competition. It was created as the students of Ubiqum Code Academy Java Web Development 116 Course realized that, apart from their love of coding, all of them also loved baking!</h4>
                    <h4>To find out who was the best baker, this challenge was set up with the help of the four Ubiqum's Web Development mentors, who are the judges in this competition.</h4>
                    <h4>In this first edition of Ubiqum Bake Off there are 14 bakers competing along 4 challenges: Cupcakes, Biscuits, Cakes and Pies. For each challenge, the mentors will score the bakers from 0 to 10.</h4>
                </div>
            </div>
        </div>
        <!-------------------------------------- Challenges---->
        <div v-if="target === 'challenges'" class="challengesPage" id="challenges">
            <div class="container">
                <h2>The Challenges</h2>
                <div class="challengeLand">
                    <div class="challengeShadow">
                        <h3 class="center">Past Challenges</h3>
                        <h4 class="center"><img class="smImg2" src="/styles/cupcake.png"> Cupcakes Challenge: 1 Dec 2018</h4>
                        <h4 class="center"><img class="smImg2" src="/styles/cookies.png"> Biscuits Challenge: 8 Dec 2018</h4>
                    </div>
                    <div class="challengeShadow">
                        <h3 class="center">Upcoming Challenges</h3>
                        <h4 class="center"><img class="smImg2" src="/styles/cake.png"> Cakes Challenge: 15 Dec 2018</h4>
                        <h4 class="center"><img class="smImg2" src="/styles/meat-pie.png"> Pies Challenge: 22 Dec 2018</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------- Rules---->
        <div v-if="target === 'rules'" class="rulesPage" id="rules">
            <div class="container">
                <h2>Bake Off Rules</h2>
                <div class="rulesLand">
                    <div class="rulesShadow">
                        <h4>1. The bakers have to be students of Ubiqum in order to participate.</h4>
                    </div>
                    <div class="rulesShadow">
                        <h4>2. The bakers have to be able to commit to the dates of the 4 challenges.</h4>
                    </div>
                    <div class="rulesShadow">
                        <h4>3. The bakers can bring written aids to help guide them through the competition.</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------- Bakers and Judges---->
        <div v-if="target === 'bakersJudges'" class="bakersjudgesPage" id="bakersJudges">
            <div class="container">
                <h2>Bakers and Judges</h2>
                <div class="bakerjudgesLand">
                    <div v-on:click="pages('bakers')" class="menu">
                        <a>
                            <div class="bakerjudgesMenu">
                                <h6>Find out who are our coders/bakers</h6>
                                <i class="fas fa-user-friends"></i>
                            </div>
                        </a>
                    </div>
                    <div v-on:click="pages('judges')" class="menu">
                        <a>
                            <div class="bakerjudgesMenuLast">
                                <h6>Check out our judges!</h6>
                                <i class="fas fa-gavel"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-------------------------------------- Bakers---->
        <div v-if="target === 'bakers'" class="bakersPage">
            <div class="container">
                <h2>The Bakers</h2>
                <div class="whiteArea">
                    <h4>Meet Ubiqum Bake Off first batch of bakers. Tap a baker to find out more.</h4>
                </div>
                <div class="list" id="bakers">
                    <!-- List of bakers is created here with template-->
                </div>
            </div>
        </div>
        <!---------------------------------------- Bakers profile---->
        <div v-if="target === 'bakersProfile'" class="bakers-profilePage" id="bakersProfile">
            <!-- for the individual profiles, the lists are created with a loop with the template and then with on click the information is called depending on the person selected-->
            <div class="profile">
                <div class="container">
                    <div class="profileContent">
                        <div class="name">
                            <h2>{{desiredBaker.name}}</h2>
                            <figure class="figure">
                                <img :src="desiredBaker.image" class="figure-img img-fluid rounded" alt="Baker 2">
                            </figure>
                        </div>
                        <div class="info">
                            <div class="country">
                                <h4>Country: {{desiredBaker.country}}</h4>
                                <div class="flags"><img :src="desiredBaker.flag"></div>
                            </div>

                            <h4>Course at Ubiqum: {{desiredBaker.course}}</h4>
                            <h4>Favourite bakes: {{desiredBaker.favourite_bakes}}</h4>
                            <h4>First Challenge Score: {{desiredBaker.first_challenge_score}}</h4>
                            <h4>Second Challenge Score: {{desiredBaker.second_challenge_score}}</h4>
                            <h4>Third Challenge Score: {{desiredBaker.third_challenge_score}}</h4>
                            <h4>Fourth Challenge Score: {{desiredBaker.fourth_challenge_score}}</h4>
                            <h4 class="center">{{desiredBaker.info}}</h4>
                        </div>
                    </div>
                    <div v-on:click="pages('bakers')" class="menu">
                        <div class="pickAnother">
                            <a>
                                <div class="pick">
                                    <h6>Pick another baker!</h6>
                                    <i class="fas fa-user-friends"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------------- Judges---->
        <div v-if="target === 'judges'" class="judgesPage">
            <div class="container">
                <h2>The Judges</h2>
                <div class="whiteArea">
                    <h4>Meet Ubiqum Bake Off hungry judges. Tap a judge to find out more.</h4>
                </div>
            </div>
            <div class="container">
                <div class="listJudges" id="judges">
                    <!-- List of judges is created here with template-->
                </div>
            </div>
        </div>
        <!---------------------------------------- Judges profile---->
        <div v-if="target === 'judgesProfile'" class="bakers-profilePage" id="judgesProfile">
            <div class="profile">
                <div class="container">
                    <div class="profileContent">
                        <div class="name">
                            <h2>{{desiredJudge.name}}</h2>
                            <figure class="figure">
                                <img :src="desiredJudge.image" class="figure-img img-fluid rounded" alt="Baker 2">
                            </figure>
                        </div>
                        <div class="infoJudges">
                            <div class="country">
                                <h4>Country: {{desiredJudge.country}}</h4>
                                <div class="flags"><img :src="desiredJudge.flag"></div>
                            </div>
                            <h4>Mentor at Ubiqum: {{desiredJudge.mentor}}</h4>
                            <h4>Favourite bake: {{desiredJudge.favourite_desserts}}</h4>
                        </div>
                    </div>
                    <div v-on:click="pages('judges')" class="menu">
                        <div class="pickAnother">
                            <a>
                                <div class="pickJudge">
                                    <h6>Pick another judge!</h6>
                                    <i class="fas fa-gavel"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------------- Scores---->
        <div v-if="target === 'scores'" class="scoresPage">
            <div class="container">
                <h2>Scores</h2>
                <div class="textShadow">
                    <table class="center">
                        <thead>
                            <th>Bakers</th>
                            <th><img src="/styles/cupcake.png" class="smImg"></th>
                            <th><img src="/styles/cookies.png" class="smImg"></th>
                            <th><img src="/styles/cake.png" class="smImg"></th>
                            <th><img src="/styles/meat-pie.png" class="smImg"></th>
                        </thead>
                        <tbody id="scores">

                        </tbody>
                    </table>
                </div>
                <div class="textShadowTBA">
                    <p>TBA - To be announced</p>
                </div>
            </div>
        </div>
        <!---------------------------------------- Contact---->
        <div v-if="target === 'contact'" class="contactPage" id="contact">
            <div class="container">
                <h2>Contact Us</h2>
                <div class="textShadow">
                    <div class="map">
                        <h4>We look forward to hearing from you!</h4>
                        <h4><i class="fas fa-phone"></i> +34 931 066 929</h4>
                        <h4><i class="far fa-envelope"></i> ubiqumbakeoff@mail.com</h4>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.7151815675284!2d2.190085114446201!3d41.401991379262874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a33d2f431d45%3A0x3f1fd71f16834f39!2sUbiqum+Code+Academy+Barcelona!5e0!3m2!1sen!2ses!4v1543419152221" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!---------------------------------------- Sign In---->
        <div v-show="target === 'signin'" class="signinPage" id="signin">
            <div class="container">
                <h2>Sign In</h2>
                <div class="textShadow">
                    <div class="map">
                        <h4>Want to chat to the bakers and judges of this sweet competition? Please Sign In to access our chat.</h4>
                        <!--
                        <div>
                            <label for="name"></label><i class="fas fa-user"></i><input type="text" name="name" required placeholder=" your name">
                        </div>
-->
                        <!--
                        <div>
                            <label for="email"></label><i class="far fa-envelope"></i><input type="text" id ="email" name="email" required placeholder=" your email">
                        </div>
                        <div>
                            <label for="password">
                            </label><i class="fas fa-key"></i><input type="password" name="password" id="password" required placeholder=" your password">
                        </div>
-->
                        <div id="login" class="signin">
                            <a><i class="fas fa-sign-in-alt"></i></a>
                        </div>
                        <h4 class="signinP">If you would like to participate in future Ubiqum Bake Off competitons, please contact us!</h4>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------- Chat---->
        <div v-show="target === 'chat'" class="chat" id="chat">
            <div class="top fixed-top">
                <!--
                <div>
                    <h3>Ubiqum Bake Off Chat</h3>
                </div>
-->
                <div id="logOut">
                    <!--v-on:click="pages('signin')"-->
                    <a>
                        <div>
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container">
                <div class="chat">
                    <!--                    <div class="conversation">-->
                    <div id="posts" class="box">
                    </div>

                    <!--                    </div>-->
                </div>
            </div>


            <div class="inputs fixed-bottom">
                <input id="textInput" class="input" type="text" placeholder=" Message...">
                <!--<button id="login" class="button is-info">Login!</button>-->
                <button id="create-post"> <i class="far fa-paper-plane"></i></button>
            </div>
        </div>
    </div>

    <!------------------------ Scripts -------------->
    <script src="ubiqumBakeOff.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="individualProfile.js"></script>
    <script src="main.js"></script>


    <script src="https://www.gstatic.com/firebasejs/5.7.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAisHOi60ZKoWE6ezyLkra_ddzzlA7r4Qk",
            authDomain: "ubiqum-bake-off.firebaseapp.com",
            databaseURL: "https://ubiqum-bake-off.firebaseio.com",
            projectId: "ubiqum-bake-off",
            storageBucket: "ubiqum-bake-off.appspot.com",
            messagingSenderId: "490880707165"
        };
        firebase.initializeApp(config);
    </script>
    <script src="chat.js"></script>

    <!--
    <script defer src="/__/firebase/6.1.1/firebase-app.js"></script>
    <script defer src="/__/firebase/6.1.1/firebase-auth.js"></script>
    <script defer src="/__/firebase/6.1.1/firebase-database.js"></script>
    <script defer src="/__/firebase/6.1.1/firebase-messaging.js"></script>
    <script defer src="/__/firebase/6.1.1/firebase-storage.js"></script>
    <script defer src="/__/firebase/init.js"></script>
-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
